body {
  font-family: Arial, sans-serif; /* letra escolhida */
  background-color: rgb(70, 68, 68); /* cor fundo da página */
  display: flex; /* alinha os elementos */
  justify-content: center;
  align-items: center;
  height: 95vh; /* 100% da altura da tela */
  margin: 0; /* remove margens do navegador */
  position: relative;
}

.titulo-game {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-family: sans-serif;
  font-size: 5rem; /* tamanho maior*/
  color: white;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.6), 0 0 40px rgba(255, 0, 0, 0.7);
  letter-spacing: 8px; /* mais espaçamento deixa mais moderno */
  z-index: 1; /* Garante que fique na frente do overlay */
  margin: 0;
}

.bg-video {
  position: fixed; /* posição: elemento fixo na tela, não rola com a página */
  top: 0; /* distância do topo */
  left: 0; /* distância esquerda */
  width: 100%; /* ocupa 100% da largura da janela */
  height: 100%; /* ocupa 100% da altura da janela */
  object-fit: cover; /*  como o vídeo preenche o container */
  z-index: -2; /* fica atrás do conteúdo, ficando 2 níveis do conteúdo */
}

.overlay {
  position: fixed;
  inset: 0; /* zero pixels de distância de todas as bordas */
  background: rgba(0, 0, 0, 0.4); /* deixe mais claro ou mais escuro */
  z-index: -1; /* fica um nível atrás do conteúdo, mas na frente do vídeo (-2) */
}

.container {
  background-color: white; /* cor fundo do container */
  padding: 25px; /* espaço interno */
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.6); /* sombra suave */
  text-align: center; /* alinha tudo ao centro */
  max-width: 420px;
  width: 100%;
  margin-top: 150px; /* Adicionado para dar espaço ao título GAME */
}

h1 {
  color: black;
  margin-bottom: 20px; /* margem entre o título e proxima palavra abaixo */
  text-shadow: 0 0 2px black;
}

.placar {
  display: flex;
  justify-content: space-around; /* space-aroud destribui o espaço igualmente ao redor dos elementos */
  margin: 20px 0; /* para separar o elemento voce de computador, 20 acima e 0 ao lado */
  font-size: 18px;
  font-weight: bold; /* negrito */
}

.botoes {
  margin: 20px 0;
}

button {
  padding: 15px 30px; /* espaço vertical e horizontal */
  margin: 8px;
  border: none; /* remove a borda do botão */
  border-radius: 5px;
  background: linear-gradient(90deg, red, rgb(255, 80, 80)); /* gradiente */
  color: white;
  font-size: 20px;
  cursor: pointer; /* muda o cursor para a mãozinha sobre o botão*/
  transition: 0.3s ease; /* animação suave */
}

button:hover {
  transform: scale(1.05); /* aumenta 5% ao passar o mouse */
  background: linear-gradient(90deg, rgb(255, 120, 120), red);
}

.resultado {
  margin: 20px 0;
  padding: 5px;
  background-color: lightpink;
  border-radius: 5px;
  text-align: center;
  text-shadow: 0 1px 0 black;
}

#escolhas {
  font-size: 20px;
  margin: 10px 0;
}

#mensagem {
  font-weight: bold;
  margin: 0;
  padding: 5px 0;
  text-transform: uppercase;
}

.caixas-escolhas {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.caixa {
  width: 140px;
  height: 110px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.texto-escolha {
  font-size: 22px;
  margin-top: 8px;
  color: black;
}

.reiniciar {
  background: linear-gradient(90deg, blue, lightblue) !important;
}

.reiniciar:hover {
  transform: scale(1.05); /* aumenta 5% ao passar o mouse */
  background: linear-gradient(90deg, lightblue, blue) !important;
}
